.main_content .center .clear {
  clear: both;
}

.main_content .center header {
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
}

.main_content .center header .head {
  margin-top: 10px;
  margin-bottom: 40px;
  color: #60606e;
  width: 458px;
  height: 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.main_content .center header .tel {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #60606e;
  font-weight: bold;
}

.main_content .center header .menu {
  float: right;
}

.main_content .center header .menu li {
  position: relative;
  float: left;
  padding-left: 20px;
}

.main_content .center header .menu li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #60606e;
  font-weight: 700;
  text-transform: uppercase;
}

.main_content .center header .menu li a:hover {
  text-decoration: overline;
  color: #456c57;
}

.main_content .center header .logo {
  overflow: hidden;
  margin-top: 160px;
  margin-left: 50px;
  width: 110px;
  height: 55px;
}

.main_content .center header .logo .gray_log {
  float: left;
  width: 55px;
  height: 55px;
  background: #60606e;
}

.main_content .center header .logo .green_log {
  float: right;
  width: 55px;
  height: 55px;
  background: #456c57;
}

.main_content .center header .logo_inf {
  text-align: center;
  position: relative;
  bottom: 20px;
}

.main_content .center header .logo_inf a {
  text-decoration: none;
}

.main_content .center header .logo_inf .logo {
  margin: auto;
  width: 600px;
  height: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #60606e;
  border: 10px solid #60606e;
  margin-bottom: 10px;
}

.main_content .center header .logo_inf .min_logo {
  margin: auto;
  width: 120px;
  background: #456c57;
  color: white;
  font-size: 18px;
}

.main_content .center header .logo_inf .inf {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.main_content .center .info {
  position: relative;
  overflow: hidden;
}

.main_content .center .info img {
  margin-top: 30px;
}

.main_content .center .info .right_block {
  width: 540px;
  float: right;
}

.main_content .center .info .right_block .head {
  height: 35px;
  position: relative;
  top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #60606e;
  z-index: 0;
}

.main_content .center .info .right_block .info_us {
  margin-top: 50px;
  margin-bottom: 0;
  width: 541px;
  height: 163px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.main_content .center .info .right_block .head::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #456c57;
  bottom: 0;
  left: -30px;
}

.main_content .center .info .right_block button {
  float: right;
  position: relative;
  top: 30px;
  right: 15px;
  border: none;
  background: #456c57;
  width: 165px;
  height: 50px;
  text-transform: uppercase;
}

.main_content .center .info .right_block button a {
  text-decoration: none;
  display: inline-block;
  height: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  width: 100%;
}

.main_content .center .info .right_block button:hover {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.main_content .center .item {
  overflow: hidden;
  margin-top: 150px;
}

.main_content .center .item h2 {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
  height: 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #60606e;
}

.main_content .center .item h2::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #456c57;
  bottom: 0;
  left: 335px;
}

.main_content .center .item .advantages h3 {
  position: relative;
  height: 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #60606e;
}

.main_content .center .item .advantages h3::before {
  content: "";
  position: absolute;
  bottom: 30px;
}

.main_content .center .item .advantages .top {
  margin: 0 120px 0 0;
  float: left;
}

.main_content .center .item .advantages .top ul {
  margin-bottom: 160px;
  height: 104px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.main_content .center .item .advantages .top ul h3 {
  margin-bottom: 20px;
}

.main_content .center .item .advantages .top ul li {
  line-height: 30px;
}

.main_content .center .item .advantages .top .one h3::before {
  content: url(../image/min_logo1.png);
}

.main_content .center .item .advantages .top .two h3::before {
  content: url(../image/min_logo2.png);
}

.main_content .center .item .advantages .bottom {
  float: left;
}

.main_content .center .item .advantages .bottom ul {
  margin-bottom: 160px;
  height: 104px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.main_content .center .item .advantages .bottom ul h3 {
  margin-bottom: 20px;
}

.main_content .center .item .advantages .bottom ul li {
  line-height: 30px;
}

.main_content .center .item .advantages .bottom .three h3::before {
  content: url(../image/min_logo3.png);
}

.main_content .center .item .advantages .bottom .four h3::before {
  content: url(../image/min_logo4.png);
}

.main_content .center .item .advantages img {
  float: right;
  -webkit-animation: anim 2s;
          animation: anim 2s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes anim {
  from {
    right: -90%;
  }
  to {
    right: 0;
  }
}

@keyframes anim {
  from {
    right: -90%;
  }
  to {
    right: 0;
  }
}

.main_content .center .portfolio .title {
  position: relative;
  text-align: center;
  height: 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #60606e;
}

.main_content .center .portfolio .title::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #456c57;
  bottom: 0;
  left: 390px;
}

.main_content .center .portfolio p {
  text-align: center;
  line-height: 34px;
}

.main_content .center .portfolio .photo {
  margin-top: 80px;
}

.main_content .center .portfolio .photo .category {
  position: relative;
  height: 35px;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #60606e;
}

.main_content .center .portfolio .photo ul {
  width: 200px;
  margin-top: 80px;
  float: left;
}

.main_content .center .portfolio .photo ul button {
  margin-bottom: 20px;
  background: none;
  border: none;
  padding: 5px;
  position: relative;
  text-decoration: none;
  width: 170px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #60606e;
}

.main_content .center .portfolio .photo ul .room {
  color: white;
  font-size: 15px;
  right: 10px;
  background: #456c57;
}

.main_content .center .portfolio .photo #content {
  position: relative;
}

.main_content .center .portfolio .photo #content .fotorama {
  opacity: 0;
  position: absolute;
  right: 50px;
  -webkit-animation: anim 1s;
          animation: anim 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.main_content .center .portfolio .photo #content #room {
  opacity: 100;
  z-index: 1;
}

@keyframes anim {
  from {
    right: -90%;
  }
  to {
    right: 50px;
  }
}

.main_content .center .communication {
  position: relative;
  right: 83px;
  margin-top: 250px;
  width: 1308px;
  height: 330px;
  background: #456c57;
}

.main_content .center .communication h2 {
  padding: 50px 0 0 50px;
  width: 787px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.main_content .center .communication .politika {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.main_content .center .communication .politika:hover {
  text-decoration: underline;
}

.main_content .center .communication button {
  border: none;
  margin-left: 50px;
  margin-top: 20px;
  color: #456c57;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  width: 165px;
  height: 49px;
  background: #ffffff;
}

.main_content .center .communication button a {
  display: inline-block;
  width: 100%;
  line-height: 3.5;
  height: 100%;
  text-decoration: none;
  color: #456c57;
}

.main_content .center .communication button:hover {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.main_content .center .communication form {
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  float: right;
  width: 456px;
  height: 210px;
  background: #ffffff;
  margin-top: -130px;
  margin-right: 60px;
}

.main_content .center .communication form h3 {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #60606e;
}

.main_content .center .communication form p {
  padding: 10px;
  padding-top: 0;
  font-size: 16px;
}

.main_content .center .communication form input {
  width: 250px;
  margin: 10px;
  position: relative;
  bottom: 25px;
}

.main_content .center .communication form .send {
  width: 130px;
  height: 50px;
  float: right;
  background: #456c57;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  bottom: 60px;
  right: 25px;
}

.main_content .center .communication form .send:hover {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.main_content .center footer {
  margin: auto;
  height: 150px;
  overflow: hidden;
}

.main_content .center footer .menu {
  margin: 10px;
}

.main_content .center footer .menu li {
  float: left;
  padding: 10px;
}

.main_content .center footer .menu li a {
  position: relative;
  line-height: 48px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #4a4a4a;
}

.main_content .center footer .menu li a:after {
  content: "";
  width: 4px;
  height: 2px;
  background: #4a4a4a;
  position: absolute;
  top: 9px;
  right: -12px;
}

.main_content .center footer .menu li a:hover {
  color: #456c57;
  text-decoration: underline;
}

.main_content .center footer .menu li .last:after {
  display: none;
}

.main_content .center footer p {
  margin: 20px 30px;
  text-transform: uppercase;
  float: right;
}

.main_content .center footer .social {
  margin: 0 30px;
  float: right;
}

.main_content .center footer .social li {
  float: left;
  padding: 0 5px;
}

.main_content .center footer .social li img {
  width: 25px;
}

.main_content .center footer .social li a:hover {
  background: #456c57;
}

.main_content .center footer .social li .last {
  position: relative;
  bottom: 8px;
}

.main_content .center footer .social li .last img {
  position: relative;
  top: 5px;
}

.modalwin {
  width: 1000px;
  background: white;
  top: 10%;
  right: 0;
  left: 0;
  font-size: 16px;
  margin: 0 auto;
  z-index: 2;
  display: none;
  position: absolute;
  padding: 15px;
  border: 5px solid #456c57;
}

.modalwin .clear {
  clear: both;
}

.modalwin h2 {
  text-align: center;
  color: #60606e;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
}

.modalwin p {
  text-align: justify;
  padding: 0 10px;
  line-height: 1.5;
}

.modalwin form h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #60606e;
  font-size: 20px;
  font-weight: bold;
}

.modalwin form .fio, .modalwin form .phone, .modalwin form .adress, .modalwin form .email, .modalwin form .height, .modalwin form .lift {
  height: 50px;
}

.modalwin form .data, .modalwin form .info, .modalwin form .type, .modalwin form .design, .modalwin form .redevelopment, .modalwin form .mono, .modalwin form .sant, .modalwin form .floor, .modalwin form .drywall, .modalwin form .heating, .modalwin form .door_meg, .modalwin form .warming, .modalwin form .kond {
  height: 100px;
}

.modalwin form .dem, .modalwin form .electro, .modalwin form .alignment_wall, .modalwin form .alignment_ceiling, .modalwin form .windows, .modalwin form .gidro, .modalwin form .sound {
  height: 150px;
}

.modalwin form .radiator {
  height: 180px;
}

.modalwin form .design, .modalwin form .area, .modalwin form .wall, .modalwin form .gas, .modalwin form .door, .modalwin form .warm_floor, .modalwin form .total_budget, .modalwin form .works_budget, .modalwin form .black_works_budget, .modalwin form .white_works_budget, .modalwin form .furniture_budget {
  height: 70px;
}

.modalwin form label {
  float: left;
  display: block;
  width: 20%;
  height: 100%;
  padding: 5px;
  font-weight: bold;
  border: 1px solid #456c57;
}

.modalwin form .lab {
  cursor: pointer;
}

.modalwin form .point, .modalwin form .point_right {
  width: 50%;
  float: left;
  position: relative;
  left: 35px;
}

.modalwin form .point input[type=checkbox], .modalwin form .point_right input[type=checkbox] {
  display: none;
}

.modalwin form .point label, .modalwin form .point_right label {
  width: 40%;
}

.modalwin form .point label::after, .modalwin form .point_right label::after {
  content: "";
  position: absolute;
  left: 190px;
  background: white;
  width: 36px;
  height: 36px;
  top: 0;
  border: 1px solid #456c57;
}

.modalwin form .point input[type=checkbox]:checked + label:after, .modalwin form .point input[type=checkbox]:hover + label:after, .modalwin form .point_right input[type=checkbox]:checked + label:after, .modalwin form .point_right input[type=checkbox]:hover + label:after {
  content: "\2713";
  width: 36px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 30px;
  background: #456c57;
}

.modalwin form .point input[type=number], .modalwin form .point_right input[type=number] {
  height: 36px;
  position: relative;
  left: 33px;
  border: 1px solid #456c57;
}

.modalwin form .point input[type=number]::-webkit-input-placeholder, .modalwin form .point_right input[type=number]::-webkit-input-placeholder {
  padding: 5px;
}

.modalwin form .point input[type=number]:-ms-input-placeholder, .modalwin form .point_right input[type=number]:-ms-input-placeholder {
  padding: 5px;
}

.modalwin form .point input[type=number]::-ms-input-placeholder, .modalwin form .point_right input[type=number]::-ms-input-placeholder {
  padding: 5px;
}

.modalwin form .point input[type=number]::placeholder, .modalwin form .point_right input[type=number]::placeholder {
  padding: 5px;
}

.modalwin form input[type=submit] {
  color: white;
  background: #456c57;
  height: 36px;
  border: 1px solid #456c57;
  width: 150px;
  margin-top: 20px;
  margin-left: 405px;
}

.modalwin form input[type=submit]:hover {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.modalwin form textarea {
  float: right;
  height: 100%;
  width: 80%;
  border: 1px solid #456c57;
  resize: none;
}

.modalwin form textarea::-webkit-input-placeholder {
  padding: 0 5px;
}

.modalwin form textarea:-ms-input-placeholder {
  padding: 0 5px;
}

.modalwin form textarea::-ms-input-placeholder {
  padding: 0 5px;
}

.modalwin form textarea::placeholder {
  padding: 0 5px;
}

.modalwin form textarea:focus {
  outline: none;
}

.modalwin form .questions {
  width: 100%;
  height: 100px;
}

.modalwin_politika {
  width: 1000px;
  background: white;
  top: 10%;
  right: 0;
  left: 0;
  font-size: 16px;
  margin: 0 auto;
  z-index: 2;
  display: none;
  position: absolute;
  padding: 15px;
  border: 5px solid #456c57;
}

.modalwin_politika h2 {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 10px 0;
}

.modalwin_politika p {
  text-align: justify;
  padding: 10px 10px;
}

.modalwin_politika ul {
  margin-left: 50px;
  margin-bottom: 10px;
}

.modalwin_politika h3 {
  margin: 10px 0;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */